extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="nosotros", class="img-fluid")
            .col-md-7 
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut sapien nec sapien gravida mattis. In fermentum, quam eu eleifend scelerisque, nisi justo pretium massa, non consequat diam augue a dolor. Nunc massa tellus, tristique sit amet tortor sit amet, ultricies eleifend quam. Nunc nec elit dictum, tristique leo non, vulputate nulla. Etiam commodo dui pretium suscipit pellentesque.

                p Curabitur luctus pharetra lorem, nec aliquet tellus scelerisque non. Duis volutpat, mi semper volutpat efficitur, nulla elit tempor nisi, interdum eleifend augue nibh ac mauris. Praesent dolor velit, sollicitudin et posuere nec, faucibus id neque. Fusce vel diam sed felis imperdiet maximus quis at felis. Pellentesque sed purus ante. Pellentesque pulvinar est a semper commodo. Phasellus eu ex vitae turpis facilisis egestas. Donec et leo tincidunt, vestibulum dolor eu, efficitur tortor.

                p Curabitur eleifend metus at vulputate interdum. Morbi ut dui venenatis, euismod nunc vel, bibendum orci. In laoreet tempor nulla et dapibus. Nam in sodales nisl. Morbi vulputate egestas neque ut molestie. Maecenas pellentesque convallis vehicula. Ut in est at purus scelerisque suscipit. 
    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p El trozo de texto estándar de Lorem Ipsum usado desde el año 1500 es reproducido debajo para aquellos interesados. 

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p El trozo de texto estándar de Lorem Ipsum usado desde el año 1500 es reproducido debajo para aquellos interesados.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p El trozo de texto estándar de Lorem Ipsum usado desde el año 1500 es reproducido debajo para aquellos interesados.          